* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-app {
 position: relative;
 height: 100vh;
}

body {
 font-family: 'Lato', sans-serif;
}

/* background e color */
.bg-green {
  position:relative;
  height: 15%;
  width: 100%;
  background-color: #009688;
}

.bg-gray {
  position: relative;
  height: 85%;
  width: 100%;
  background-color: #DBDBD2;
}

.lightgreen {
  background-color: #D5F9BA;
}

.white {
  background-color: #fff;
}
/* /background e color*/

.container-box {
  position: absolute;
  top: 5%;
  left: 10%;
  display:flex;
  height: 850px;
  width: 80%;
  background-color: #fff;
}

/* box left */
aside {
height: 100%;
width: 30%;
display: flex;
flex-direction: column;
}

/* box dati utente */
.box-info-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #EAEAEA;
  height: 10%;
}

.avatar > h4 {
  margin-left: 15px;
  font-size: 16px;
}

.avatar,
.icons-avatar {
  display: flex;
  align-items: center;
  align-content: center;
}

.icons-avatar > a {
 font-size: 18px;
 padding: 0 10px;
 color: #B1B1B1;
}

.icons-avatar a:hover {
 color: grey;
}

.avatar-utente,
.avatar-conversation {
  height: 50px;
  border-radius: 50%;
}

/* /box dati utente */

/* box notifiche */
.notifications {
  display: flex;
  align-items: center;
  background-color:  #8EDAFC;
  padding: 12px;
  height: 10%;
}

.fa-bell-slash {
  font-size: 22px;
  color: #8EDAFC;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
}

.box-active-notifications {
  margin-left: 15px;
}

.box-active-notifications > p {
  font-weight: bold;
  font-size: 15px;
}

.box-active-notifications > a {
  color: gray;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-color: black;
}

.box-active-notifications > a:hover {
 color: darkgrey;
}
/* /box notifiche */

/* input cerca */
.input-search-contacts {
  background-color: ghostwhite;
  padding: 8px;
  display: flex;
  align-items: center;
  height: 5%;
}

.button-search > button {
  padding: 7px 20px;
  color: #B1B1B1;
  border: 1px solid lightgrey;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

.fa-search {
  font-size: 15px;
}

.input-search {
  width: 100%;
  padding: 8px;
  border: 1px solid lightgrey;
  outline: none;
  font-size: 12px;
}

/* /input cerca */
/* conversazione contatti*/
.conversations {
  height: 75%;
  overflow: auto;
}

.single-conversation {
  display: flex;
  background-color: #fff;
  width:100%;
  padding: 15px;
  border-bottom: 1px solid #EAEAEA;
  cursor: pointer;
}

.avatar-contact {
  height: 60px;
  border-radius: 50%;
}

.single-conversation > h4 {
  margin-left: 20px;
}

.conversations > h3 {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
/* /conversazione contatti */
/* /box left */

/* box right */
/* box info conversazione aperta */

.box-messages {
  height: 100%;
  width: 70%;
}

.info-conversation {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.info-conversation > h6 {
  color: #6B7376;
}
/* /box info conversazione aperta */

/* main conversation */
.bg-conversation {
  height: 80%;
  width: 100%;
  background-image: url("../img/mine.jpg");
  padding: 50px;
  overflow: auto;
}
.container-msg {
  display: flex;
  flex-direction: column;
}

.container-msg-sent {
  align-items: flex-end;
}

.container-msg-recived {
  align-items: flex-start;
}

.msg-sent,
.msg-recived {
 display: flex;
 flex-direction: column;
  height: 80px;
  width: 300px;
  border-radius: 12px;
  border: none;
  padding: 10px;
  margin: 6px 0;
}

.container-date-hour {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end ;
}

.date-hour {
  font-size: 10px;
  color: #B1B1B1;
}

/* /main conversation */
/* box input msg */
.input-text-msg {
  height: 10%;
  display: flex;
  background-color: #F3EEEA;
  justify-content: space-between;
  align-items: center;
}

.fa-smile,
.fa-microphone {
  font-size: 30px;
  color: #6B7376;
  padding: 0 35px;
}

.fa-smile:hover {
color: #00FA9A;
}

.fa-microphone:hover {
  color: #DC143C;
}

.text-area-msg {
  width: 80%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

/* /box input msg */
/* /box right */
