<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /FONTAWESOME -->
  <!-- FONT GOOGLE -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <!-- /FONT GOOGLE -->
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>BOOLZAP</title>
</head>
<body>
  <div id="app">
    <div class="container-app">
      <!-- background -->
      <div class="bg-green"></div>
      <div class="bg-gray"></div>
      <!-- /background -->
      <!-- box centrale -->
      <div class="container-box">
        <!-- box contatti -->
        <aside class="box-contact">
          <!-- box dati utente -->
          <div class="box-info-header">
            <div class="avatar">
              <img class="avatar-utente" v-bind:src="avatarUtente" alt="io-avatar">
              <h4>{{nomeUtente}}</h4>
            </div>
            <!-- icone -->
            <div class="icons-avatar">
             <a href="#"><i class="fas fa-circle-notch"></i></a>
             <a href="#"><i class="fas fa-comment-alt"></i></a>
             <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <!-- /icone -->
          </div>
          <!-- /box dati utente -->
          <!-- box attiva notifiche -->
          <div class="notifications">
            <!-- icona campanella -->
            <div class="bell-notifications">
             <i class="far fa-bell-slash"></i>
            </div>
            <!-- /icona campanella -->
            <!-- box link attiva notifiche -->
            <div class="box-active-notifications">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
            <!-- /box link attiva notifiche -->
          </div>
          <!-- /box attiva notifiche -->
          <!-- input ricerca -->
          <div class="input-search-contacts">
            <div class="button-search">
              <button type="button"><i class="fas fa-search"></i></button>
            </div>

              <input class="input-search" type="text" placeholder="Cerca o inizia una nuova chat">

          </div>
          <!-- /input ricerca -->
          <!-- box elenco conversazioni -->
          <div class="conversations">
            <div class="single-conversation" v-for="element in contacts" @click="viewConversation(element); cambiaColore(element);" v-bind:style='{backgroundColor: element.colore}'>
              <img class="avatar-contact" v-bind:src="'img/avatar' + element.avatar + '.jpg'" v-bind:alt="element.name">
              <h4>{{element.name}}</h4>
            </div>
          </div>
          <!-- /box elenco conversazioni -->
        </aside>
       <!-- /box contatti -->
        <div class="box-messages">
          <!-- box avatar e orario accesso conversazione utente -->
          <div class="box-info-header">
              <div class="avatar">
                <img class="avatar-conversation" v-bind:src=`img/avatar${chatVisualizzata.avatar}.jpg` alt="avatar contatto">
                <div class="info-conversation">
                  <h4>{{chatVisualizzata.name}}</h4>
                  <h6>Ultimo accesso oggi alle</h6>
                </div>
              </div>
              <!-- icone -->
              <div class="icons-avatar">
               <a href="#"><i class="fas fa-search"></i></a>
               <a href="#"><i class="fas fa-paperclip"></i></a>
               <a href="#"><i class="fas fa-ellipsis-v"></i></a>
              </div>
              <!-- /icone -->
            </div>
            <!-- /box avatar e orario accesso conversazione utente -->
            <!-- box visualizzazione messaggi -->
            <div class="bg-conversation">
                <div class="container-msg" v-bind:class="{'container-msg-sent' : element.status == 'sent', 'container-msg-recived' : element.status == 'recived'}" v-for="(element, index) in chatVisualizzata.messages">
                  <!-- nuvola msg inviato -->
                  <div class="msg-sent lightgreen" v-show="element.status == 'sent'">
                    <p>{{element.message}}</p>
                    <div class="container-date-hour">
                      <span class="date-hour">{{element.date}}</span>
                    </div>
                  </div>
                  <!-- /nuvola msg inviato -->
                  <!-- nuvola msg ricevuto -->
                  <div class="msg-recived white" v-show="element.status == 'received'">
                    <p>{{element.message}}</p>
                    <div class="container-date-hour">
                      <span class="date-hour">{{element.date}}</span>
                    </div>
                  </div>
                  <!-- /nuvola msg ricevuto -->
                </div>
            </div>
            <!-- /box visualizzazione messaggi -->
            <!-- box input scrittura e invio msg -->
            <div class="input-text-msg">
              <a href="#"><i class="far fa-smile"></i></a>
              <input class="text-area-msg" placeholder="Scrivi un messaggio" cols="30" rows="5" type="textarea" v-model="nuovoMessaggio" @keyup.13="sentMsg">
              <a href="#"><i class="fas fa-microphone"></i></a>
            </div>
            <!-- /box input scrittura e invio msg -->
          </div>
        </div>
      </div>
     <!-- /box centrale -->
    </div>
  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
